.details{
    margin:50px;
}

.details-img{
    width: 100%;
}

.details-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding:20px 0px;
    font-size:40px;
    border-bottom: 3px solid pink;
}

.details-wrapper{
    display: flex;
    justify-content: space-around;
    padding:20px 0px;
    color: black;
}

.details-date, .details-author{
    border-bottom: 2px solid pink;
    padding-bottom: 4px;
}

.details-description{
    margin-top: 19px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.8;
}

.details-description::first-letter{
    margin-left: 50px;
    font-size: 35px;
    
}

.crud {
    margin-top:30px;
}

.delete {
    padding: 10px;
    font-size: 16px;
    border:none;
    background-color: white;
    font-weight: 500;
    margin-left: 5px;
    border-bottom: 1px solid red;
}

.delete:hover{
    background-color: red;
    color:white;
}

.edit-l {
    padding:10px;
    border-bottom: 1px solid pink;
}

.edit-l:hover {
    background-color: pink;
    padding:10px;
    color: white;
}